[Unit]
Description=DNS Sinkhole
Wants=network-online.target
After=network-online.target

[Service]
Environment=HOSTS_PATH=/home/${RPI_USER}/sink/hosts
ExecStart=/home/${RPI_USER}/sink/bin/hole
Type=exec
Restart=on-failure

[Install]
WantedBy=multi-user.target
