[Unit]
Description=DNS Sinkhole
Wants=network-online.target
After=network-online.target
Wants=nss-lookup.target
Before=nss-lookup.target

[Service]
Environment=LOCAL_SERVER_ADDR=0.0.0.0:53 HOSTS_PATH=/home/${RPI_USER}/sink/hosts METRICS_ENABLED=${METRICS_ENABLED} AUDIT_LOG_ENABLED=${AUDIT_LOG_ENABLED}
ExecStart=/home/${RPI_USER}/sink/bin/hole
WorkingDirectory=/home/${RPI_USER}/sink
ReadOnlyPaths=/home/${RPI_USER}/sink

Type=simple
Restart=always
RestartSec=5s
TimeoutStopSec=10s

AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW

NoNewPrivileges=yes

PrivateDevices=yes
PrivateTmp=yes

ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectProc=invisible
ProtectSystem=strict

RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes

SystemCallArchitectures=native
SystemCallFilter=@system-service

RemoveIPC=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
DevicePolicy=closed

UMask=007
LimitNOFILE=1024

[Install]
WantedBy=multi-user.target
