[Unit]
Description=DNS Sinkhole
Wants=network-online.target
After=network-online.target
Wants=nss-lookup.target
Before=nss-lookup.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_NET_ADMIN CAP_SYS_NICE CAP_IPC_LOCK CAP_CHOWN
Environment=LOCAL_SERVER_ADDR=0.0.0.0:53 HOSTS_PATH=/home/${RPI_USER}/sink/hosts
ExecStart=/home/${RPI_USER}/sink/bin/hole
Type=exec
Restart=on-failure
RestartSec=5s
TimeoutStopSec=5s

ProtectSystem=full
ReadWritePaths=/home/${RPI_USER}/sink

[Install]
WantedBy=multi-user.target
